# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.env/
.env
# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/
jenkins/

# macOS files
.DS_Store

# Logs
*.log

# Secret env files
.env
.env.*

# Token cache files
*.pem
*.key

# pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
coverage.xml
*.cover
.cache

# MyPy & Pylint
.mypy_cache/
.dmypy.json
pylint-report.txt

# Build artifacts
build/
dist/
*.egg-info/

# Systemd temp files (optional)
*.service

# Old files & folders off the Project
bot_old_version.py

